body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}*/

/*================ Slider de imagenes ================*/

.carousel-inner {
    max-height: 100rem;
}

/*====================== Pie de pagina ========================*/

footer{
    background-color: #26252d;
    min-height: 50px;
}

footer p{
    color: white;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}